/* Style for index.html landing page */
body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-size: 3.5rem;
}

.col-md-12 {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 20vh;
  height: 60vh;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.main-content-box {
  text-align: center;
}

.start-button {
  background-color: #a6413a!important;
  color: whitesmoke!important;
  width: 15rem;
  height: 3rem;
  border: 0.5px solid #a6413a;
  font-size: 1.3rem;
}

.button {
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a {
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color: #a6413a;
  display:block;
  position:relative;
  padding:20px 40px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #5e201b, 0 10px 0 #5e201b;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top:10px;
  background-color:#96352f;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #4a1915, inset 0 -3px 0 #4a1915;
}

.button:after {
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
